.aqua_mark {
    background-color: aqua;
    border-radius:3px;
    border: 0.5px ;
    padding: 0px;
}
.yellow_mark {
    background-color: #ffff80;
    border-radius: 3px;
    border: 0.5px solid #DAA520;
    padding: 0px;
}
.lawngreen_mark {
    background-color: #7CFC00;
    border-radius: 3px;
    border: 0.5px solid #73AD21;
    padding: 0px;
}
.lightpink_mark {
	background-color: #FFB6C1;
	border-radius: 3px;
    border: 0.5px solid #FF1493;
    padding: 0px;
}
  
#collapse{
	border-collapse: collapse;
}

.text {
	background color: #ffe4e1;
	padding:2px; 
	width:100%;
	border:1px solid black;
   	margin: 2px;
   }

#table {
	border:1px solid white;
   	margin: 2px;
   	padding:2px;
   	background color: white;
   	outline-style: solid;
   	outline-color: white;
   	outline-width: medium;
   	}

   